<div class="contents">
  <% @blogs.each do |blog| %>
    <div class="card-panel">
      <p><%= simple_format(blog.text) %></p>
      <div>
        <a class="waves-effect waves-light btn">show</a>
        <a class="waves-effect waves-light btn">edit</a>
        <a class="waves-effect waves-light btn">destroy</a>
      </div>
    </div>
  <% end %>
  <%= paginate(@blogs) %>
</div>
